@media(min-width:320px) and (max-width:425px){
    .banner h1{
        font-size: 70px;
    }
    .banner p{
        width: 70%;
        font-size: 11px;
        text-align: left;
    }
    .choce h5{
        width: 60%;
    }
    .owl-dots{
        top: 95%;
        left: 50%;
    }
    .burger2_content h6{
        font-size: 18px;
    }
}
@media(min-width:320px) and (max-width:575px){
    .header_content{
        display: none;
    }
}
@media(min-width:426px) and (max-width:575px){
    .banner h1{
        font-size: 90px;
    }
    .banner p{
        width: 80%;
        font-size: 18px;
        text-align: center;
    }
    .choce h5{
        width: 40%;
    }
    .owl-dots{
        top: 94%;
        left: 50%;
    }
    .choce .img2{
        width: 55%;
    }

}
@media(min-width:400px) and (max-width:500px){
    .choce .img2{
        width: 65%;
    }

}
@media(min-width:576px) and (max-width:767px){
    .banner h1{
        font-size: 100px;
    }
    .choce h5{
        width: 40%;
    }
    .owl-dots{
        top: 94%;
        left: 50%;
    }
    .choce .img2{
        width: 65%;
    }

}
@media(min-width:992px) and (max-width:1199px){
    .choce .img2{
        width: 98%;
    }
}
@media(min-width:1400px){
    .choce .img2{
        width: 85%;
    }
}
@media(min-width:320px) and (max-width:767px){
    .navbar-toggler{
        margin: auto;
    }
    .navbar-nav .nav-item{
        margin: auto;
    }
    .footer_content2 {
        text-align: start;
    }
}
@media(min-width:768px) and (max-width:991px){
    .banner p{
        width: 80%;
        font-size: 15px;
        text-align: center;
    }
    .choce h5{
        width: 30%;
    }
    .owl-dots{
        top: 92%;
        left: 50%;
    }
    .burger3_img{
        top: 0;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .banner p{
        width: 60%;
        font-size: 15px;
        text-align: center;
    }
    .owl-dots{
        top: 90%;
        left: 50%;
    }
}
